	<header>
		<menu>
		<li><a href="/exchange" routerLink="/exchange">Buy bitcoin</a></li>
		<li><a href="/terms" routerLink="/terms">Terms of Use</a></li>
		<li><a href="/privacy" routerLink="/privacy">Privacy Policy</a></li>
		<li><a href="/faq" routerLink="/faq">FAQ</a></li>
		</menu>
	</header>
	<div class="middle info" [innerHTML]="getInfo().text"></div>
    <footer>
		<menu>
			<li><a href="/exchange" routerLink="/exchange">Buy bitcoin</a></li>
			<li><a href="/terms" routerLink="/terms">Terms of Use</a></li>
			<li><a href="/privacy" routerLink="/privacy">Privacy Policy</a></li>
			<li><a href="/faq" routerLink="/faq">FAQ</a></li>
			</menu>
			<div class="copyright">
			© 2017 Squirrel Tree<br>
			Building 2017, Anonimous street, StarCity, Neverland<br>
			Company Number SL01042017
			</div>
	</footer>
