<mat-toolbar class="mt-5">
  <span>Adminstration zone</span>
</mat-toolbar>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#" routerLink="/admin/main">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/admin/main">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/admin/main">Another link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" routerLink="/admin/main">Disabled</a>
  </li>
</ul>

<!-- dark -->
<ul class="nav nav-tabs bg-dark">
  <li class="nav-item">
    <a class="nav-link active" href="#" routerLink="/admin/main">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/admin/main">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/admin/main">Another link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" routerLink="/admin/main">Disabled</a>
  </li>
</ul>

<!-- primary -->
<ul class="nav nav-tabs bg-primary">
  <li class="nav-item">
    <a class="nav-link active" href="#" routerLink="/admin/main">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/admin/main">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/admin/main">Another link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" routerLink="/admin/main">Disabled</a>
  </li>
</ul>
