<mat-toolbar class="mt-5">
  <span>Adminstration zone</span>
</mat-toolbar>

<!--nav class="navbar navbar-expand-lg navbar-light bg-light"-->
<nav class="navbar navbar-expand-lg navbar-dark indigo">

  <a class="navbar-brand" href="#" routerLink="/">Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/admin/main">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin/orders">Orders</a>
      </li>
    </ul>
  </div>
</nav>
<mat-card>
	<h1>Wecome to admin zone!</h1>
	<p>
		There you can view our demo text, in real site here can be manual for admin users.
	</p>
	<p>
		For output all orders from this site, click on link "Orders" on top navigation menu.
	</p>
	<p>
		Click on link "Site" for redirect to main zone of site.
	</p>
</mat-card>