<mat-toolbar class="mt-5">
  <span>Adminstration zone</span>
</mat-toolbar>

<mat-card>
  	<div class="bg-danger mt-1 p-1 text-sm-center" *ngIf="errorMessage != null">{{errorMessage}}</div>
	<div  class="d-flex justify-content-center">
	    <form novalidate (ngSubmit)="authenticate(form)" #form="ngForm" [formGroup]="loginFormGroup" class="p-2">
	        <div class="form-group">
	        	 <mat-form-field class="example-full-width">
	    			<input matInput placeholder="Login" [(ngModel)]="login" required formControlName="login">
	  			</mat-form-field>
	        </div>
	        <div class="form-group">
	            <mat-form-field class="example-full-width">
	            	<input matInput type="password" name="password" [(ngModel)]="password" required  formControlName="password" placeholder="Password" />
	            </mat-form-field>
	        </div>
	        <div class="text-xs-center">
	            <button mat-raised-button color="primary" type="submit">Log In</button>
	        </div>
	    </form>
	</div>
	<div class="text-right"><button mat-button color="secondary" class="mb-1" routerLink="/">Go to site</button></div>
</mat-card>
