
html,body {
    width:100%;
    margin:0px;
    padding:0px;
    background:#114b61 url('/assets/bg.jpg') 0 0 no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:#ffffff;
    font-family:'Open Sans',tahoma;
    box-sizing: border-box;
}

.middle {
    display:block;
    width:980px;
    margin:auto;
}

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

/*@import '~bootstrap-material-design/dist/css/bootstrap-material-design.min.css';*/
